.idea
.vscode
*/bin/
*/tmp/
go.work*
env.*

# ignore common/shared files
auth.go
definitions.go
easystore.go
http.go
main-cmdline.go
main-lambda.go
orcid-get.go
parameter.go
s3.go

# dont ignore common directory
!lambda-common/*.go
